body {
    background-color: #f8f9fa;
}
.header {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.btn-logout {
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-logout:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
.list-group-item {
    transition: all 0.2s ease-in-out;
}
.list-group-item:hover {
    background-color: #495057;
    color: #ffffff;
}

a {
    outline: none;
    box-shadow: none;
}
.no-outline{
    outline: none;
    box-shadow: none;
}